<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--ExchangeServiceConfiguration.cs-->
    <add key="ExchangeService.BaseUri" value="https://localhost:44362" />
    <add key="ExchangeService.OperacoesRelativeUri" value="api/operacoes" />
    <add key="ExchangeService.OperacoesBatchRelativeUri" value="api/operacoes/batch" />
  </appSettings>
</configuration>