<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Trace" internalLogFile="internal-nlog.log">
    <targets>
      <target name="logFileDesktopApp" xsi:type="File" fileName="Lab.ExchangeNet45.DesktopApp-${shortdate}.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logFileDesktopApp" />
    </rules>
  </nlog>
  <appSettings>
    <!--ExchangeHttpClientFactory.cs-->
    <add key="ExchangeService.BaseUri" value="https://localhost:44362" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>