<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="15.0.5" targetFramework="net452" />
  <package id="EPPlus" version="4.5.3.3" targetFramework="net452" />
  <package id="MediatR" version="5.1.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net452" />
  <package id="Microsoft.Owin" version="4.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Cors" version="4.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="NLog" version="4.7.2" targetFramework="net452" />
  <package id="NLog.Owin.Logging" version="1.1.0" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="SimpleInjector" version="5.0.1" targetFramework="net452" />
  <package id="SimpleInjector.Integration.WebApi" version="5.0.0" targetFramework="net452" />
  <package id="Strathweb.CacheOutput.WebApi2" version="0.11.0" targetFramework="net452" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.113.1" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
</packages>